header {
  height: 100px;
  width: 100%;

  padding: 2rem;

  display: flex;
  align-items: center;
  background: none;

  position: fixed;
  top: 0;

  z-index: 100;

  transition: all 0.5s;
}

header img {
  width: 150px;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

header li {
  display: flex;

  color: white;

  font-family: Sora;
  font-weight: 100;
  font-size: 24px;
  letter-spacing: -0.05em;
}

header li ul {
  list-style: none;
  margin: 0 10px;
}

@media (max-width: 560px) {
  header ul {
    display: none;
  }
}
