.App {
  text-align: center;

  background-color: #f6f6f6;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 1080px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.ray {
  margin: 0 auto;
}

.App .home {
  background-image: url('./assets/engineers.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;

  display: flex;
  justify-content: left;
  align-items: center;
}

.App .home .container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.App .home h1 {
  font-family: Inter;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: -0.05em;

  color: #ffffff;

  width: 420px;
}

.App .home span {
  font-family: Inter;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: -0.05em;

  color: #ebff00;
}

.apresentation {
  height: 100%;

  padding: 10rem 0 0 0;
}

.apresentation .container {
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
}

.apresentation .container :nth-child(1) {
  display: flex;
  flex-direction: column;
}

.apresentation .container h1 {
  font-family: Inter;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: -0.05em;
  text-align: left;
}

.apresentation .container h2 {
  font-family: Inter;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.05em;
  text-align: left;
}

.apresentation .container span {
  font-family: Inter;
  font-style: normal;
  font-size: 1.1rem;
  letter-spacing: -0.05em;

  color: #848484;

  text-align: left;
  width: 420px;

  padding: 2rem 0 4rem 0;
}

.apresentation .container button {
  width: 210px;
  height: 58px;

  background: #dbff00;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 6px;

  font-family: Inter;
  font-weight: bold;
  font-size: 1.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: -0.05em;

  color: #000000;

  border: none;
}

.our-products {
  padding: 10rem 0 0 0;
}

.our-products .container .products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.our-products .container h1 {
  font-family: Inter;
  font-weight: bold;
  font-size: 4rem;

  text-align: center;
  letter-spacing: -0.05em;

  color: #000000;

  margin: 4rem 0;
}

.our-products .container button {
  width: 210px;
  height: 58px;

  background: #dbff00;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 6px;

  font-family: Inter;
  font-weight: bold;
  font-size: 1.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: -0.05em;

  color: #000000;

  border: none;

  margin: 0 auto;
}

.our-products .container button:disabled {
  border: 2px;
  color: GrayText;
  cursor: inherit;
  background-color: #ddd;
  background: #ddd;
}

.about-us {
  height: 100%;

  padding: 10rem 0 0 0;
}

.about-us .container {
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
}

.about-us .container :nth-child(1) {
  display: flex;
  flex-direction: column;
}

.about-us .container h1 {
  font-family: Inter;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: -0.05em;
  text-align: left;
}

.about-us .container h2 {
  font-family: Inter;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.05em;
  text-align: left;
}

.about-us .container span {
  font-family: Inter;
  font-style: normal;
  font-size: 1.1rem;
  letter-spacing: -0.05em;

  color: #848484;

  text-align: left;
  width: 420px;

  padding: 2rem 0 4rem 0;
}

.about-us .container button {
  width: 210px;
  height: 58px;

  background: #dbff00;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 6px;

  font-family: Inter;
  font-weight: bold;
  font-size: 1.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: -0.05em;

  color: #000000;

  border: none;
}

.contact {
  height: 100%;

  padding: 10rem 0 8rem 0;
}

.contact .container .contact-box {
  width: 100%;
  background-color: #efefef;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 4rem;

  border-radius: 8px;
}

.contact .container .contact-box :nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.contact .container .contact-box :nth-child(1) h2 {
  font-family: Archivo;
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
  letter-spacing: -0.05em;

  color: #000000;

  max-width: 450px;

  margin-bottom: 3rem;
}

.contact .container .contact-box :nth-child(1) img {
  width: 150px;
}

.contact .container .contact-box form {
  row-gap: 1rem;
}

.contact .container .contact-box input {
  font-family: Inter;
  font-weight: bold;
  font-size: 1rem;

  letter-spacing: -0.05em;

  color: #a29d9d;

  width: 370px;
  height: 50px;

  background: #e2e2e2;
  border-radius: 4px;

  border: none;
  padding: 1rem;
}

.contact .container .contact-box textarea {
  font-family: Inter;
  font-weight: bold;
  font-size: 1rem;

  letter-spacing: -0.05em;

  color: #a29d9d;
  width: 370px;
  height: 50px;

  background: #e2e2e2;
  border-radius: 4px;

  border: none;
  padding: 1rem;
  resize: none;

  height: 150px;
}

.contact .container .contact-box button {
  width: 370px;
  height: 50px;

  background: #dbff00;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  border: none;

  font-family: Inter;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: -0.05em;

  color: #000000;
}

@media (max-width: 525px) {
  .App .home .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .apresentation .container {
    justify-content: center;
    row-gap: 5rem;
  }

  .apresentation .container :nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .apresentation .container :nth-child(1) span {
    text-align: center;
  }

  .about-us .container {
    justify-content: center;
    row-gap: 5rem;
  }

  .about-us .container :nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-us .container :nth-child(1) span {
    text-align: center;
  }

  .contact .container .contact-box img {
    display: none;
  }

  .contact .container .contact-box :nth-child(1) h2 {
    text-align: center;
  }
}
